$black: #000000;
$opacity: 0.8;

body {
    background: rgba($black, $opacity);
    font-family: "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    color: white;
    min-width: 500px;
}

.game-title {

    font-size: 40px;
    text-decoration: overline;
    text-align: center;
    padding: 2%; 

    &__img {
    margin-left: 5px; 
    };

}

.game-screen {

    position: relative;
    border: 3px solid white;
    border-radius: 20px;
    width: 1000px;
    min-width: 150px;
    margin: 0 auto;
    height: 550px;
    overflow: hidden;

    &__platform {
        display: block;
        position: absolute;
        bottom: 50px;
        left: -100px;
        width: 1200px;
        height: 10px; 
    };

    &__sausage {
        display: none; 
    };
    
}
.score {
    float: right;
    font-size: 30px;
    margin: 5px; 
}

.reload__picture {
    width: 100px;
    height: 80px; 
}

.loading {
    position: absolute;
    left: 35%;
    top: 30%;
    width: 400px;
    height: 200px;
}


@import "content";
@import "toolbar";
@import "menu";
@import "cats";